.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #000;
}

.profile-picture {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.2);
}

.form-section-title {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
  border-radius: 2px;
  background: #fff;
}
.form-section-title i.material-icons, .form-section-title i.material-icons-outlined {
  font-size: 1.25em;
  margin-right: 10px;
}

table {
  width: 100%;
}

th {
  font-size: 11px;
  padding-bottom: 20px;
}

th, td {
  text-align: left;
}
th:last-child, td:last-child {
  text-align: right;
}

td {
  padding: 7px 0;
}

.search-box {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
}
.search-box input {
  flex: 1 0 auto;
}
.search-box input, .search-box select {
  margin-right: 15px;
}

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v76/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}
/* fallback */
@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v44/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format("woff2");
}
/* fallback */
@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsround/v43/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmP.woff2) format("woff2");
}
/* fallback */
@font-face {
  font-family: "Material Icons Sharp";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconssharp/v44/oPWQ_lt5nv4pWNJpghLP75WiFR4kLh3kvmvR.woff2) format("woff2");
}
/* fallback */
@font-face {
  font-family: "Material Icons Two Tone";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconstwotone/v42/hESh6WRmNCxEqUmNyh3JDeGxjVVyMg4tHGctNCu0.woff2) format("woff2");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

.material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

.material-icons-sharp {
  font-family: "Material Icons Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

.material-icons-two-tone {
  font-family: "Material Icons Two Tone";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Mulish";
  font-size: 13px;
  margin: 0;
  background: #efefef;
}

h1 {
  font-size: 19.5px;
  font-weight: 700;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  margin-bottom: 20px;
  background: #f9d200;
}
.navbar a {
  color: #000;
}

.navbar-brand {
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: none;
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none !important;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: auto;
}
.navbar-nav li {
  margin-right: 30px;
}
.navbar-nav li:last-child {
  margin-right: 0;
}
.navbar-nav a {
  font-weight: 700;
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar-nav {
    display: flex !important;
  }
}

.container {
  padding: 0 20px;
}

.jobs-results-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.jobs-results-list li {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.5s;
}
.jobs-results-list li .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex: 0 0 50px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 10%;
  background: lightblue;
}
.jobs-results-list li h2 {
  font-size: 14px;
  margin: 0 0 5px;
}
.jobs-results-list li .content {
  flex: 1 1 auto;
}
.jobs-results-list li .excerpt {
  display: -webkit-box;
  font-size: 12px;
  color: gray;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.jobs-results-list li .published-at {
  font-size: 10px;
  color: gray;
}
.jobs-results-list li:hover {
  box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.125);
}

.sidenav-toggler {
  cursor: pointer;
  margin-left: auto;
}
@media (min-width: 768px) {
  .sidenav-toggler {
    display: none;
  }
}

.help-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}

button {
  color: #fff;
  font-weight: 500;
  padding: 10px 30px;
  background: #527cf2;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.col-lg-6 {
  width: 100%;
}
@media (min-width: 768px) {
  .col-lg-6 {
    width: 50%;
  }
}

.card {
  display: block;
  padding: 20px;
}

.alert {
  margin-top: 0;
}
