@mixin z-3 {
  border: none;
  box-shadow: 0 2px 6px 1px rgba(0,0,0,.12);
}
.z-3 {
  @include z-3;
}
@mixin reset-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@import 'forms';
@import 'tables';
@import 'material-icons';
@import 'sidenav';
@import 'buscador';
@import 'content-projects';

body {
  font-family: 'Mulish';
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  background: #efefef;
}

h1 {
  font-size: 19.5px;
  font-weight: 700;
  margin-bottom: 20px;
}
.navbar {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  margin-bottom: 20px;
  // border-bottom: 1px solid gray;
  background: #f9d200;
  a {
    color: #000;
  }
}
.navbar-brand {
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: none;
}
.navbar-nav {
  @include reset-list;
  display: none !important;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: auto;
  li {
    margin-right: 30px;
    &:last-child { margin-right: 0; }
  }
  a {
    font-weight: 700;
    text-decoration: none;
  }
  @media(min-width: 768px){
    display: flex !important;
  }
}
.container {
  padding: 0 20px;
}

.sidenav-toggler {
  cursor: pointer;
  margin-left: auto;
  @media(min-width: 768px){
    display: none;
  }
}

.help-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0,0,0,.5);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}
button {
  color: #fff;
  font-weight: 500;
  padding: 10px 30px;
  background: #527cf2;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.card {
  display: block;
  padding: 20px;
}
.alert {
  margin-top: 0;
}